[Unit]
Description=Agente Gestor Correos MITUMI
After=network.target

[Service]
Type=simple
WorkingDirectory=/ruta/al/agente_gestor_correos_mitumi
ExecStart=/usr/bin/python3 servicio.py
Restart=always

[Install]
WantedBy=multi-user.target
